<div class="row mt-5">
  <div class="col">
      <div class="form-group">
        <label>Post Title</label>
        <input type="text" class="form-control" placeholder="Your title must be eye-catching" name="title" [(ngModel)]="title">
      </div>
      <div class="form-group">
        <label>Post Content</label>
        <app-ngx-editor [config]="editorConfig" [(ngModel)]="content"></app-ngx-editor>
      </div>
      <div class="form-group float-right">
        <button (click)="createPost()" class="btn btn-warning sub-but px-5">Post</button>
      </div>
  </div>
</div>