<div class="row background">
  <div class="col-sm-6 background-left p-5 pb-5">
    <h1>Don't just think! Blog It!</h1>
  </div>
  <div class="col-sm-6 background-right p-5 pb-5">
    <app-signup></app-signup>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 text-right pt-5">
    <img class="align-middle m-5"  height="300px" src="https://github.com/Akshay-Priyadarshi/Scribe/blob/master/src/assets/What-Is-Scribe-Image.png?raw=true">
  </div>
  <div class="col-sm-4">
    <h2 class="px-5 py-5">What is Scribe?</h2>
    <h6 class="mx-5 my-1">
      Scribe is a thought sharing platform where you can share your thoughts and craziest ideas with the world. You can also interact with other users by commenting on their posts.
      <br><br>
      Create a free account and get started.
      <br><br>
      Let's get started!
    </h6>
  </div>
</div>
<hr>
<div class="row">
  <div class="offset-sm-2 col-sm-8 text-center pt-5 mt-5">
    <b><h3>Contact Us</h3></b>
    <div class="row ">
      <div class="offset-sm-2 col-sm-4 text-left pt-5 vertical-divider mt-5">
        <img class="resize" src="https://github.com/Akshay-Priyadarshi/Scribe/blob/master/src/assets/Phone.png?raw=true">8521862132<br>
        <img class="resize" src="https://github.com/Akshay-Priyadarshi/Scribe/blob/master/src/assets/Mail.png?raw=true">akshayp1904@outlook.com<br>
        <img class="resize" src="https://github.com/Akshay-Priyadarshi/Scribe/blob/master/src/assets/Facebook.png?raw=true">Scribe<br>
      </div>
      <div class="col-sm-6 text-left py-5 my-5 px-5">
          <img class="resize" src="https://github.com/Akshay-Priyadarshi/Scribe/blob/master/src/assets/Address.png?raw=true">
            Scholiverse Educare Pvt. Ltd.<br>
            <img class="resize invisible" src="https://github.com/Akshay-Priyadarshi/Scribe/blob/master/src/assets/Address.png?raw=true">
            B-809, Unitech Business Zone,<br>
            <img class="resize invisible" src="https://github.com/Akshay-Priyadarshi/Scribe/blob/master/src/assets/Address.png?raw=true">
            Nirvana Country, South City 2,<br>
            <img class="resize invisible" src="https://github.com/Akshay-Priyadarshi/Scribe/blob/master/src/assets/Address.png?raw=true">
            Gurgaon, India - 12201
        <div>
      </div>
    </div> 
  </div>
</div>
